*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    font-size: 1.2vw;
}
h2{
    font-size: 2vw;
}
main
{   padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    min-height: 36vw;
}
main .problema-serio{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
}
main .problema-serio h1{
  font-size: 6vw;
    
    
}
section.identificacao{
    display: flex;
    margin-top: 6px;
    max-width: 100vw;
    justify-content: space-between;
    padding: 20px 10px;
}
section.identificacao .identificacao-mosquito,
section.identificacao .habitos-mosquito-container{
    height: 98vh;
}
section.identificacao .habitos-mosquito-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
}
.imagens-focos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.focos{
    text-align: center;
}
.botao{
   background-color: #004cc7;
   color: aliceblue;
   height: 4vw;
   padding: 0.5vw 2vw;
   border-radius: 2vw;
   box-shadow: 0 0 4px 1px #c6c6c7;
   border:none;
   font-size: 2vw;
   outline: none;
   cursor: pointer;

}
.botao:hover{
    background-color:  #0062FF ;
    color: rgb(255, 255, 255);
}
.container-red{
    background-image: url('../assets/img/banner-dicas.jpg');
    
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}
.container-red h1{
    color: aliceblue;
     font-weight: 800;
}
.container-red h2{
    color: aliceblue;
    text-shadow: rgb(253, 249, 249, 0.5) 1px 1px 1px;
    font-weight: 500;
}