body{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    
    color: #000000; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p, footer ul {
    margin: 100px;
}

footer ul li {
    display: inline;
    margin-left: 20px;
}

.mapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;}

.mapa iframe {
    display: block; /* Garante que o iframe seja tratado como um bloco */
    margin: 60px auto; /* Centraliza o iframe horizontalmente */
}

li a{

    color: black;
}
