*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
}
.menu-principal ul {
    list-style: none;
    display: flex;
    gap: 20px;
}